.google-signin{
  margin-left: 25%;
  
}
.form{
    
    margin-top: 50px;
    /* border: 2px solid black; */
    background-color: darkgrey;
  
}

/* Responsive part */
@media only screen and (max-width: 688px) {
    .google-signin{
     margin-right: 150px;
        
    }
}
