.contact-info{
    margin-top: 50px;
    background-color: rgba(155, 142, 153, 0.904);
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}

.contact input{
    width: 50%;
    padding: 5px;
    border: none;
    background-color: rgb(209, 199, 179);
}
.contact textarea{
    width: 50%;
    height: 30%;
    border: none;
    background-color:rgb(209, 199, 179); 
    margin-left: 5px;
}
.submit{
    background-color: blue;
}
form{
    /* border: 1px solid black; */
    height: 50%;
}
.fb-icon{
    width: 10%;
}
.linkdin-icon{
    width: 5%;
}
.twiter-icon{
    width: 5%;
    margin-left: 2px;
}

/* Responsive part */
@media only screen and (max-width: 688px) {
    .contact{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 689px) and (max-width:991px) {
    .contact{
        grid-template-columns: repeat(2, 1fr);
    }
}
